
<div class="main-body">

	<div class="page_sub_title">
		<h2>Book Search</h2>
	</div>

	<div class = search-box-container>


		<input id="search-box" type="text" placeholder="Enter key-words..." autofocus required>
		<input id="search-button" type="submit" value="Search"> 

	</div>


</div>
