/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0px;
}

.nav-bar {
	position: fixed;
	width: 100%;
	height: 46px;
	top: 0;
	left: 0;
	margin-top: 0;
	margin-left: 0;
	background-color: rgb(245, 245, 245); 
	border-bottom: 1px solid rgb(150, 150, 150);
	height: 46px;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	font-size: 14px;
	z-index: 1000;
}

.white-space {
	position: fixed;
	top: 47px;
	left: 0px;
	width: 100%;
	height: 45px;
	background-color: white;
	z-index: 1000;
}

.main-title {
	position: fixed;
	font-family: "Gotham Narrow SSm",sans-serif,Arial;
	font-size: 24px;
	border: 1px solid rgb(150, 150, 150);
	height: 80px;
	width: 100%;
	text-align: center;
	line-height: 15px;
	top: 46px;
	margin-top: 46px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgb(200, 200, 200);
	z-index: 1000;
}




